@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="header-account dropdown default-dropdown">
            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-user-o"></i>
                    <strong class="text-uppercase">@User.Identity.GetUserName()<i class="fa fa-caret-down"></i></strong>
            </div>
            <ul class="custom-menu">
                <li><a href="#"><i class="fa fa-user"></i> Change Password</a></li>
                <li><a href="@Url.Action("Cart","Home")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                <li><a class="fa fa-sign-out" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
        
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" Register", "Register", "Account", routeValues: null, htmlAttributes: new {@class="fa fa-user-plus", id = "registerLink" })</li>
        <li>@Html.ActionLink(" Log in", "Login", "Account", routeValues: null, htmlAttributes: new {@class="fa fa-unlock-alt", id = "loginLink" })</li>
    </ul>
}
